button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  margin-left: 16px;
}

input {
  padding: 8px 16px;
  border-radius: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
